*{
    text-decoration: none;
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
    margin: 0;
}
nav{
    border-bottom:  1px solid #BFBFBF;;
    box-shadow: 0px 10px 5px #aaaaaa;
    width: 100vw;
    height: 80px;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
 
 .navbar{
    width: 93%;
    margin: auto;

display: flex;
align-items: center;
justify-content: space-between;

height: 100%;


}
a{
    text-decoration: none;
}
nav .navbar a{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    

}
.line li a img{
    width: 50px;
    height:50px
}
 .line {
    display: flex;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    align-items: center;

}

.line li{
    list-style: none;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
}
.line li a{
    text-decoration: none;
    font-size: 15px;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
   text-decoration: none;
}
.line li a .location{
    margin-right: 10px;
}
#loc{
    margin-right: 30px;
}
#list:nth-child(even){
    margin-right: 20px;
    
}
ul li a:hover{
color: rgb(37, 109, 37);
font-size: 15px;
}

    .features{
        margin: 0;
        
        padding-right: 1px;
    }
    .row{
        
        width: 100%;
        display: flex;
        
        border: 20px  solid rgb(255, 255, 255);
       justify-content: center;
       
       text-align: center;
       padding: 0;
    }
    .row-text{
       font-size: 28px;
       text-align: center!important;
       flex: 1;
       margin: 0;
       justify-content: center;
      padding: 0px;
      border: 0px solid #8f8bf4;
       
    }
    .row-tv{
        padding: 0;
        
        flex: 1;
        }
    img {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    button{
        border-radius: 50px;
        background-color: transparent ;
        padding: 9px 13px;
        border: 1px solid black;
    }
    button:hover{
        
        background-color: rgba(0,0,0,0.1);
       
        cursor: pointer;
    }
    #join button{
        background-color: #000000;
        color: aliceblue;
    }
    #join button:hover{
        background-color: #3a3535;
    }

    .topfot{
        width: 100%;
        height: 80px;
        text-align: center;
        border-bottom:  1px solid #BFBFBF;;
        box-shadow: 5px 2px 0px #aaaaaa;

    }


    .footer{
        padding: 40px;
        cursor: pointer;
        color: #000000;
        font-weight: 500;
        font-size: 15px;
        
    }
    
    th{
        flex:1;
        color: black;
        font-size: 15px;
        text-align: left;
        font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    td{
        flex:1;
color: #787881;
font-weight: 500;
text-align: left;
font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
 tr :hover{
        color: black;
            }
      
            .footer-nav{
                margin-left: 15px;
                display: flex;
                justify-content: space-between;
                marker: none;
            }
nav .footer-nav li {
display: flex;
align-content: space-between;

}
nav .footer-nav ul li a{
    list-style:none;
}
.line-b {
    display: flex;
    font-family:  SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    justify-content: center;
}


.bottomfot ul li{
    list-style-type: none;
    margin-right: 21px;
    margin-left: 21px;
}
.bottomfot ul li a:hover{
    color: #000000;
    border-bottom: 1px solid black ;
    object-fit: cover;
    }


.bottomfot {
    width: 100%;
    height: 40px;
    position: relative;
   
}
.bottomfot ul{
    
    position: absolute;
    padding-left: 0;

    left:0;
}


